
<div id="header-container"></div>


<div id="editor-page-header" class="editor-page-header page-header">

    <a id="header-back-btn" class="back-btn" href="/projects"></a>

    <h1 id="page-title" class="page-title">Scrumbs</h1>

    <div id="header-breadcrumbs-wrapper" class="header-breadcrumbs-wrapper">

        <a class="header-breadcrumbs" href="/projects">Projects</a>

    </div>

    <div class="mini-notification">User made some changes info.</div>

    <div class="header-button-wrapper">

        <div class="more-btn header"></div>

        <div id="editor-publish-project-btn" class="secondary-button">Publish</div>

        <div class="trigger-wrapper">

            <div class="script-icon"></div>

            <p id="boardme-flow-trigger" class="s-font-size">boardme-67jh67ol-members-settings</p>

            <div id="editor-copy-guide-trigger-btn" class="uppercase-btn">COPY</div>

        </div>

    </div>

</div>



<!--PREVIEW SECTION-->

<div id="preview-section" class="preview-section">

    <div id="guide-naviati" class="guide-nav-container">

        <p id="guide-nav-title" class="conf-label"></p>

        <div class="slideshow-wrapper">


            <div class="slideshow-nav-btn-wraper">

                <div id="slideshow-nav-previous-btn" class="slideshow-nav-btn previous"></div>

                <div id="slideshow-nav-next-btn" class="slideshow-nav-btn next"></div>

            </div>


            <div id="add-guide-btn-first" class="add-guide-wrapper inline-block">

                <div class="add-guide-btn first"></div>

            </div>


            <div id="slideshow-card-container" class="slideshow-card-container">


                <!--<div class="slideshow-card-wrapper">-->

                    <!--&lt;!&ndash;add class " active " to show active state&ndash;&gt;-->
                    <!--<div class="slideshow-guide-thumbnail active">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--&lt;!&ndash;add class " active " to show active state&ndash;&gt;-->
                    <!--<div class="slideshow-guide-thumbnail active">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--&lt;!&ndash;add class " active " to show active state&ndash;&gt;-->
                    <!--<div class="slideshow-guide-thumbnail active">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


                <!--<div class="slideshow-card-wrapper">-->

                    <!--<div class="slideshow-guide-thumbnail">-->

                        <!--<div class="flow-guide-preview guide-preview small"></div>-->

                        <!--<p class="xs-font-size">Tooltip name | tooltip type</p>-->

                    <!--</div>-->

                    <!--<div class="add-guide-wrapper inline-block">-->

                        <!--<div class="add-guide-btn"></div>-->

                    <!--</div>-->

                <!--</div>-->


            </div>


        </div>




    </div>

    <div id="guide-main-preview" class="guide-preview large"></div>

</div>


<!--CONFIGURATION SECTION -->

<div class="configuration-section">


    <div class="guide-configuration-header">

        <div id="guide-type-label" class="conf-label">tooltip</div>

        <div id="guide-conf-header-delete-guide-btn" class="delete-editor-guide-btn"></div>

        <input id="guide-name-input" class="no-border-input" placeholder="New Guide" autocomplete="off">

    </div>


    <div class="editor-theme-configuration margin-t">

        <div class="editor-theme-configuration-header">

            <div class="conf-label">Theme</div>

            <a id="editor-theme-configuration-manage-themes-btn" class="xs-btn" href="/themes">Manage Themes</a>

        </div>

        <div id="editor-theme-configuration-themes-list" class="bordered-options-dropdown-btn">

            <p id="editor-theme-configuration-theme-name">boardme Light</p>

        </div>

        <div id="editor-theme-configuration-dropdown-btn" class="dropdown-bg">

            <p class="dropdown-item">boardme Light</p>

            <p class="dropdown-item">boardme Dark</p>

        </div>

    </div>


    <div id="editor-target-element-section" class="editor-target-element margin-t">

        <div class="conf-label">Target Element</div>

        <p class="info-text">Please provide the target element’s query selector where this tooltip should appear. It works just like CSS selectors!</p>

        <div class="input-label">Selector (e.g. #elementid .classname tag)</div>

        <input id="editor-conf-target-element-input" class="input-border" placeholder="Element query selector here" autocomplete="off">

    </div>


    <div class="editor-configuration-tab-container margin-t">

        <!--TAB STARTS HERE -->

        <!--Add class " modal " to show modal relevant tabs-->

        <div id="editor-configuration-tab" class="tab-buttons-container">

            <div id="editor-configuration-tab-configuration-btn" class="tab-btn active">Configuration</div>

            <div id="editor-configuration-tab-content-btn" class="tab-btn">Content</div>

            <div id="editor-configuration-tab-position-btn" class="tab-btn">Position</div>

        </div>

        <div class="section-divider-line"></div>


        <!-- CONFIGURATION TAB -->

        <!--Add class " modal " to show modal relevant configurations-->

        <div id="editor-guide-configuration-tab" class="editor-guide-configuration-tab">


            <div id="editor-template-configuration" class="editor-template-configuration">

                <div class="conf-label">Template</div>

                <div id="editor-guide-configuration-button-thumbnail" class="conf-thumbnail-wrapper">

                    <div class="conf-thumbnail-cover button"></div>

                    <div class="conf-thumbnail-label">With Buttons</div>

                </div>

                <!--When this is active-->

                <div id="editor-guide-configuration-text-only-thumbnail" class="conf-thumbnail-wrapper text-only-thumbnail">

                    <div class="conf-thumbnail-cover text"></div>

                    <div class="conf-thumbnail-label">Text only</div>

                </div>

                <!--display editor-conf-text-only-type-radio-btn-->

                <div id="editor-conf-text-only-type-radio-btn" class="tab-content-section ">

                    <div class="multi-input-group">

                        <p class="input-label">Type</p>

                        <div class="radio-btn-group">

                            <input type="radio" id="radio-btn-dismissible-type" name="position-type">

                            <label for="radio-btn-dismissible-type">Dismissible</label>

                        </div>

                        <!--if action driven active display editor-conf-action-driven-input-wrapper-->

                        <div class="radio-btn-group">

                            <input type="radio" id="radio-btn-action-driven-type" name="position-type">

                            <label for="radio-btn-action-driven-type">Action Driven</label>

                        </div>

                    </div>

                </div>

                <div id="editor-conf-action-driven-input-wrapper" class="tab-content-section">

                    <p class="info-text">Please provide the target element’s query selector, where your users should click, in order to proceed to the next guide in your flow.</p>

                    <div class="input-label">Selector (e.g. #elementid .classname tag)</div>

                    <input id="editor-conf-action-driven-input" class="input-border" placeholder="Element ID or class name">

                </div>


            </div>


            <div id="editor-conf-dismiss-design-section" class="editor-dismiss-design-configuration tab-content-section">

                <div class="conf-label">Dismiss Design</div>

                <div id="editor-guide-configuration-dismiss-link-thumbnail" class="conf-thumbnail-wrapper large">

                    <div class="conf-thumbnail-cover dimiss-link"></div>

                    <div class="conf-thumbnail-label">Dismiss Link</div>

                </div>

                <div id="editor-guide-configuration-close-button-thumbnail" class="conf-thumbnail-wrapper large">

                    <div class="conf-thumbnail-cover close-btn"></div>

                    <div class="conf-thumbnail-label">Close Button</div>

                </div>

            </div>

            <div class="editor-delay-configuration tab-content-section">

                <div class="multi-input-group third">

                    <p class="input-label">Display Delay</p>

                    <input id="editor-guide-display-delay" class="input-border delay-ms" type="number">

                    <p class="grey">ms</p>

                </div>

            </div>

        </div>



        <!-- CONTENT TAB -->

        <!--Add class " modal " to show modal relevant configurations-->

        <div id="editor-guide-conf-content-tab" class="editor-guide-conf-content-tab">

            <div id="editor-guide-content-guide-title" class="editor-guide-content-guide-title tab-content-section">

                <div class="input-label">Guide Title</div>

                <input id="editor-guide-content-guide-title-input" class="input-border" placeholder="Type a title for your guide">

            </div>

            <div id="editor-guide-content-guide-description" class="editor-guide-content-guide-description tab-content-section">

                <div class="input-label">Guide Description</div>

                <textarea rows="4" id="editor-guide-content-guide-description-input" class="input-border medium-editable" placeholder="Type a description for your guide"></textarea>

            </div>

            <div id="editor-guide-content-guide-dismiss-label" class="editor-guide-content-dismiss-label tab-content-section">

                <div class="input-label">Dismiss Label</div>

                <input id="editor-guide-content-guide-dismiss-label-input" class="input-border" placeholder="Ex. Skip">

            </div>

            <div id="editor-guide-content-guide-primary-btn-label" class="editor-guide-content-primary-btn-label tab-content-section">

                <div class="input-label">Primary Button Label</div>

                <input id="editor-guide-content-guide-primary-btn-label-input" class="input-border" placeholder="Ex. Next">

            </div>

            <div id="editor-guide-content-guide-upload" class="editor-guide-content-guide-upload tab-content-section">

                <div class="conf-label">Upload Image</div>

                <p class="info-text">Recommended  dimensions: 200px x 200px.<br>
                                                              Supported file formats: .png, .jpg, .svg</p>

                <!--Add class " uploaded " when user uploads an image-->

                <div id="editor-guide-content-guide-upload-image-wrapper" class="editor-guide-content-guide-upload-image-wrapper">


                    <p id="editor-guide-content-uploaded-img-name" class="editor-guide-content-uploaded-img-name">uploaded-file.png</p>


                    <div id="editor-guide-content-guide-upload-image-preview" class="upload-image-preview">

                        <img id="editor-guide-content-guide-uploaded-image" class="guide-uploaded-image" src="https://images.pexels.com/photos/1203819/pexels-photo-1203819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

                        <p class="guide-uploaded-image-placeholder-label">No image uploaded.</p>

                    </div>


                    <div class="upload-img-button-wrapper">

                        <div id="upload-image-remove-pic-btn" class="tertiary-button">Remove Picture</div>

                        <label id="upload-image-upload-pic-btn" for="upload-image-upload-pic-input" class="primary-button">
                            Upload Picture

                            <input name="image" type="file" id="upload-image-upload-pic-input">
                        </label>



                        <div id="upload-image-change-pic-btn" class="primary-button">Change</div>

                    </div>


                </div>

            </div>


            <div id="editor-guide-content-guide-html-upload" class="editor-guide-content-guide-html-upload tab-content-section">

                <div class="conf-label">Upload HTML File</div>

                <p class="info-text">It works similarly to email templating, everything needs to be styled INLINE.</p>


                <!--Add class " uploaded " when user uploads an html file-->

                <div id="editor-guide-content-guide-upload-html-wrapper" class="editor-guide-content-guide-upload-html-wrapper">


                    <p id="editor-guide-content-uploaded-html-name" class="editor-guide-content-uploaded-html-name">uploaded-file.png</p>

                    <div class="upload-img-button-wrapper">

                        <div id="upload-image-upload-html-btn" class="primary-button">Upload HTML File</div>

                        <div id="upload-image-change-html-btn" class="primary-button">Change</div>

                        <div id="upload-image-remove-html-btn" class="tertiary-button">Remove HTML File</div>

                    </div>


                </div>

            </div>

        </div>

    </div>


    <!-- POSITION TAB -->

    <div id="editor-guide-conf-position-tab" class="editor-guide-conf-position-tab">


        <div class="conf-label">Position Preference</div>

        <p class="info-text">Select where do you prefer your tooltip to be shown
            comparing to your target element.</p>


        <div class="multi-input-group">

            <!-- if auto active display ... -->

            <div class="radio-btn-group">

                <input type="radio" id="guide-position-auto-radio-btn" name="interaction-type">

                <label for="guide-position-auto-radio-btn">Position Automatically</label>

            </div>

            <!--if manual active display ID auto-position-guide-feedback-->

            <div class="radio-btn-group">

                <input type="radio" id="guide-position-manual-radio-btn" name="interaction-type">

                <label for="guide-position-manual-radio-btn">Manual</label>

            </div>

        </div>


        <div class="highlight-bg" id="auto-position-guide-feedback">We will calculate the position of your tooltip around your target element. </div>



        <div id="manual-position-guide-controls-section">

            <div class="manual-position-guide-controls-container">

                <div class="manual-position-guide-controls">


                    <!-- Add class " top-left " or " top-right " to change guide alignment if " active " only!!!-->

                    <div id="position-control-btn-top" class="position-control-btn top">


                        <!-- Add class " active " to mirror label arrow icon -->

                        <p id="position-control-label-top" class="position-control-label">Top</p>

                        <div id="position-control-dropdown-bg-top" class="dropdown-bg">

                            <div id="position-control-dropdown-item-top" class="dropdown-item small">Top</div>

                            <div id="position-control-dropdown-item-top-left" class="dropdown-item small">Top Left</div>

                            <div id="position-control-dropdown-item-top-right" class="dropdown-item small">Top Right</div>

                        </div>

                    </div>


                    <!-- Add class " right-top " or " right-bottom " to change guide alignment if " active "  only!!!-->

                    <div id="position-control-btn-right" class="position-control-btn right">


                        <!-- Add class " active " to mirror label arrow icon -->

                        <p id="position-control-label-right" class="position-control-label">Right</p>

                        <div id="position-control-dropdown-bg-right" class="dropdown-bg">

                            <div id="position-control-dropdown-item-right" class="dropdown-item small">Right</div>

                            <div id="position-control-dropdown-item-right-top" class="dropdown-item small">Right Top</div>

                            <div id="position-control-dropdown-item-right-bottom" class="dropdown-item small">Right Bottom</div>

                        </div>

                    </div>


                    <!-- Add class " bottom-left " or " bottom-right " to change guide alignment if " active "  only!!!-->

                    <div id="position-control-btn-bottom" class="position-control-btn bottom">


                        <!-- Add class " active " to mirror label arrow icon -->

                        <p id="position-control-label-bottom" class="position-control-label">Bottom</p>

                        <div id="position-control-dropdown-bg-bottom" class="dropdown-bg">

                            <div id="position-control-dropdown-item-bottom" class="dropdown-item small">Bottom</div>

                            <div id="position-control-dropdown-item-bottom-left" class="dropdown-item small">Bottom Left</div>

                            <div id="position-control-dropdown-item-bottom-right" class="dropdown-item small">Bottom Right</div>

                        </div>

                    </div>


                    <!-- Add class " left-top " or " left-bottom " to change guide alignment if " active "  only!!!-->

                    <div id="position-control-btn-left" class="position-control-btn left">


                        <!-- Add class " active " to mirror label arrow icon -->

                        <p id="position-control-label-left" class="position-control-label">Left</p>

                        <div id="position-control-dropdown-bg-left" class="dropdown-bg">

                            <div id="position-control-dropdown-item-left" class="dropdown-item small">Left</div>

                            <div id="position-control-dropdown-item-left-top" class="dropdown-item small">Left Top</div>

                            <div id="position-control-dropdown-item-left-bottom" class="dropdown-item small">Left Bottom</div>

                        </div>


                    </div>

                    <div class="target">Target Element</div>

                </div>

                <p id="manual-position-guide-controls-feedback" class="highlight-bg">We will display your tooltip to the <span id="manual-position-guide-selected-position" class="bold">selected position</span> of your target element.</p>

        </div>


    </div>

        <div id="position-advanced-settings" class="tab-content-section">


            <div class="conf-label">Advanced Settings</div>


            <div class="margin-t">


                <p class="input-label">Tooltip Offset</p>


                <div class="multi-input-group quarter">

                    <p class="input-label">X</p>

                    <div class="incremental-input-wrapper">

                        <input id="tooltip-offset-x-input" class="input-border" type="number" min="-9999" max="9999" step="1" placeholder="0">

                        <div id="tooltip-offset-x-input-up-btn" class="input-arrow up"></div>

                        <div id="tooltip-offset-x-input-down-btn" class="input-arrow down"></div>

                    </div>

                </div>


                <div class="multi-input-group quarter">

                    <p class="input-label">Y</p>

                    <div class="incremental-input-wrapper">

                        <input id="tooltip-offset-y-input" class="input-border" type="number" min="-9999" max="9999" step="1" placeholder="0">

                        <div id="tooltip-offset-y-input-up-btn" class="input-arrow up"></div>

                        <div id="tooltip-offset-y-input-down-btn" class="input-arrow down"></div>

                    </div>

                </div>

            </div>

        </div>



        <div class="margin-t">


            <p class="input-label">Tooltip Arrow Offset</p>


            <div class="multi-input-group quarter">

                <p class="input-label">X</p>

                <div class="incremental-input-wrapper">

                    <input id="tooltip-arrow-offset-x-input" class="input-border" type="number" min="-9999" max="9999" step="1" placeholder="0">

                    <div id="tooltip-arrow-offset-x-up-btn" class="input-arrow up"></div>

                    <div id="tooltip-arrow-offset-x-down-btn" class="input-arrow down"></div>

                </div>

            </div>


            <div class="multi-input-group quarter">

                <p class="input-label">Y</p>

                <div class="incremental-input-wrapper">

                    <input id="tooltip-arrow-offset-y-input" class="input-border" type="number" min="-9999" max="9999" step="1" placeholder="0">

                    <div id="tooltip-arrow-offset-y-up-btn" class="input-arrow up"></div>

                    <div id="tooltip-arrow-offset-y-down-btn" class="input-arrow down"></div>

                </div>

            </div>

        </div>

    </div>





    </div>


</div>
