

<!-- Application header -->
<div id="header">


    <!-- Logo -->
    <!--<div class="logo">BoardMe</div>-->

    <div class="logo"></div>

    <!-- Header Menu -->
    <ul class="header-menu">

        <li id="header-menu-projects" class="header-menu-item"><a href="/projects">Projects</a></li>

        <li id="header-menu-themes" class="header-menu-item"><a href="/themes">Themes</a></li>

    </ul>


    <!-- Notifications and User -->
    <ul class="header-user-container">

        <li id="user-notification" class="user-notification header-user-item"></li>

        <li id="feature-notification" class="feature-notification header-user-item"></li>

        <li id="user-menu" class="user-menu header-user-item">

            <span id="header-menu-user-name">James</span>

            <div id="header-user-menu-dropdown" class="user-menu-dropdown">

                <div id="header-user-account-info-container" class="user-account-info-container">

                    <p id="header-user-account-acronym" class="user-account-acronym">JS</p>

                    <p id="header-user-account-name" class="user-account-name">James Smith</p>

                    <p id="header-user-account-email" class="user-account-email">james@email.com</p>

                    <a href="/account-settings" id="user-account-settings" class="primary-button">Account Settings</a>

                </div>

                <ul id="header-user-submenu" class="user-submenu">

                    <li id="user-upgrade-plan" class="user-submenu-item dropdown-item"><a href="#">Upgrade Plan</a></li>

                    <li id="user-log-out" class="user-submenu-item dropdown-item"><a href="/authentication/log-out">Log Out</a></li>

                </ul>

            </div>

        </li>

    </ul>

</div>





