
<div id="website-header" class="animated fadeInDownShort go website-header">

    <a href="/"><img class="header-logo" src="../style/img/website-img/boardme-blue.svg" alt="boardme-logo"></a>

    <nav class="header-navigation">

        <a href="/" class="header-navigation-btn">Home</a>

        <a class="header-navigation-btn" href="/projects">Projects</a>

        <a class="header-navigation-btn" href="/contact">Contact</a>

    </nav>

</div>


<section class="error-404-container">

    <div class="section error-content">

        <div class="error-404">404</div>

        <h2>Page not found</h2>

        <p>The link you clicked may be broken or the page may have been removed or renamed.</p>

        <div class="quinary-btn arrow">Go back</div>

    </div>



</section>















