


<div id="modal-overlay" class="modal-overlay">

    <div id="modal" class="modal-container">

        <div id="modal-close-btn" class="close-modal-icon"></div>

        <div id="modal-icon" class="modal-icon"></div>

        <p id="modal-title" class="modal-title m-font-size bold">Do you want to delete theme BoardMe Light?</p>


        <div id="modal-acknowledgement-error" class="modal-error-snippet">Please check the boxes below to confirm the ramification of your actions.</div>


        <p id="modal-description" class="modal-description m-font-size">Your default theme will be applied to the flows using this theme.</p>


        <div id="modal-acknowledgements-container" class="checkbox-wrapper">



        </div>


        <div class="modal-button-wrapper">

            <div id="modal-submit-btn" class="modal-submit-btn primary-button">Yes, delete this theme</div>

            <div id="modal-dismiss-btn" class="modal-dismiss-btn tertiary-button">Cancel, keep this theme</div>

        </div>

    </div>

</div>