<div id="website-header" class="animated fadeInDownShort go website-header">

    <a href="/"><img class="header-logo" src="../style/img/website-img/boardme-blue.svg" alt="boardme-logo"></a>

    <nav class="header-navigation">

        <a href="/pricing" class="header-navigation-btn active">Pricing</a>

        <a class="header-navigation-btn" href="https://blog.boardme.app/" target="_blank">Blog</a>

    </nav>

</div>

<section class="animatedParent animateOnce pricing-main-container">

    <div class="animated fadeInDownShort go section pricing-header">

        <h1>Choose your plan</h1>

        <p class="xl-font-size">Be the first to know when boardme launches. Early access users will receive an extended free trial and early bird pricing options!</p>

        <div class="pricing-toggle-container">

            <p>Billed monthly</p>

            <div id="billing-toggle" class="toggle-wrapper annually">

                <div class="toggle"></div>

            </div>

            <p>Billed annually</p>

        </div>

    </div>

    <div class="animatedParent animateOnce section pricing-content">

        <div class="animated fadeInDownShort delay-500 go pricing-card">

            <div class="pricing-card-content-container">

                <h2>Starter</h2>

                <p id="starter-price" class="price-tag">$19</p>

                <ul class="features-list-container">

                    <li class="feature-item">500 MAUs</li>

                    <li class="feature-item">3 projects</li>

                    <li class="feature-item">45 day extended trial <span class="early-users-label">early access users</span> </li>

                    <li class="feature-item">15% Discount <span class="early-users-label">early access users</span> </li>

                </ul>

            </div>

            <div class="quinary-btn subscribe-trigger">Get Early Access</div>

        </div>

        <div class="pricing-toggle-container">

            <p>Billed monthly</p>

            <div id="standard-billing-toggle" class="toggle-wrapper annually">

                <div class="toggle"></div>

            </div>

            <p>Billed anually</p>

        </div>


        <div class="animated fadeInDownShort delay-750 go pricing-card standard">

           <div class="pricing-card-content-container">

               <h2>Pro</h2>

               <p id="current-price" class="price-tag standard">$99</p>

               <div class="request-dropdown-container">

                   <div id="mau-selected" class="request-dropdown" data-mau="2500">2500 MAUs</div>

                   <div class="request-info-container">

                       <p id="request-info-tooltip-trigger" class="request-info">MAU - Monthly active user</p>

                       <div id="request-info-tooltip" class="request-info-tooltip"><strong>Monthly Active Users</strong> is the total number of users who receive your boardme script, any given month.</div>

                   </div>

                   <ul id="mau-dropdown" class="dropdown-bg">

                       <li class="dropdown-item" data-mau="2500">2500 MAUs</li>

                       <li class="dropdown-item" data-mau="10000">10000 MAUs</li>

                       <li class="dropdown-item" data-mau="20000">20000 MAUs</li>

                       <li class="dropdown-item" data-mau="50000">50000 MAUs</li>

                       <li class="dropdown-item" data-mau="75000">75000 MAUs</li>

                       <li class="dropdown-item" data-mau="100000">100000 MAUs</li>

                   </ul>

               </div>

               <ul class="features-list-container">

                   <li class="feature-item">Unlimited projects</li>

                   <li class="feature-item">45 day extended trial <span class="early-users-label">early access users</span> </li>

                   <li class="feature-item">15% Discount <span class="early-users-label">early access users</span> </li>

               </ul>

           </div>

           <div class="quinary-btn subscribe-trigger paid">Get Early Access</div>

        </div>


        <div class="animated fadeInDownShort delay-1000 go pricing-card">

            <div class="pricing-card-content-container">

                <h2>Enterprise</h2>

                <p class="price-tag enterprise">Let’s Talk!</p>

                <ul class="features-list-container">

                    <li class="feature-item">Unlimited MAUs</li>

                    <li class="feature-item">Unlimited projects</li>

                    <li class="feature-item">Extended free trial <span class="early-users-label">early access users</span> </li>

                </ul>

            </div>

            <div class="quinary-btn subscribe-trigger enterprise">Get Early Access</div>

        </div>

        <div class="animated fadeInDownShort delay-1250 go no-card-label">No credit card required</div>

    </div>

</section>



<footer class="animatedParent animateOnce footer-wrapper">

    <div class="animatedParent animateOnce footer-questions-container section">

        <h1 class='animated fadeIn'>Commonly asked questions</h1>

        <ul class="questions-list-wrapper">

            <li class="animated fadeIn delay-250 question-list-item">

                <div class="question-head">

                    <p class="xl-font-size">How are monthly active users calculated?</p>

                </div>


                <p class="question-body">We like to keep things simple, because it makes things well...simple. Every time your boardme script is downloaded by one of your users, we count that as an active user.</p>

            </li>


            <li class="animated fadeIn delay-500 question-list-item">

                <div class="question-head">

                    <p class="xl-font-size">Do I need a developer to get started?</p>

                </div>

                <p class="question-body">No, you can start building onboarding experiences with boardme, without a developer. To activate any guidance live, you will need to implement the boardme code snippet into the codebase of your site, for which you may need a developer.</p>

            </li>


            <li class="animated fadeIn delay-750 question-list-item">

                <div class="question-head">

                    <p class="xl-font-size">Can I cancel at any time?</p>

                </div>

                <p class="question-body">You sure can. Just go to your account settings and click cancel. No need to call our sales team to then be pulled through a guilt trip for wanting to leave. We feel if our product does what we promise, you will never want to cancel. And if you cancel in the middle of a billing cycle you will be refunded the time not used for the rest of that cycle within five to seven business days.</p>

            </li>


            <li class="animated fadeIn delay-1000 question-list-item">

                <div class="question-head">

                    <p class="xl-font-size">Do I need to provide my credit card details when I sign up?</p>

                </div>

                <p class="question-body">Nope. Sign up, enjoy our product and when your trial is over we will ask you for your credit card information. We want you to get started with the least amount of doors to walk through.</p>

            </li>


        </ul>

    </div>


    <div class="animated fadeIn delay-1250 section footer-navigation-container">

        <nav class="footer-navigation">

            <a class="footer-navigation-item" href="/privacy">Privacy Policy</a>

            <a class="footer-navigation-item" href="/terms">Terms and Conditions</a>

            <a class="footer-navigation-item" href="/contact">Contact</a>

        </nav>


        <div class="social-media-wrapper">

            <a href="https://www.linkedin.com/company/boardme/" target="_blank"><img class="social-media-icon" src="../style/img/website-img/linkedin-logo.svg"></a>

            <a href="https://twitter.com/theboardmeapp" target="_blank"> <img class="social-media-icon" src="../style/img/website-img/twitter-logo.svg"></a>

            <a href="https://www.facebook.com/boardmeapp/" target="_blank"> <img class="social-media-icon" src="../style/img/website-img/facebook-logo.svg"></a>

            <a href="https://www.instagram.com/boardmeapp/" target="_blank"><img class="social-media-icon" src="../style/img/website-img/instagram-logo.svg"></a>

        </div>


        <p class="provider">Powered by </p>

        <p class="copyright">© 2019 boardme All rights reserved</p>

    </div>

</footer>

