



<div class="project-item-thumbnail-wrapper guide-preview medium"></div>

<div class="project-item-info-wrapper">

    <p class="project-item-name">Scrumbs</p>

    <p class="project-item-last-update">MAR 27, 2019</p>

    <p class="project-item-flow-count">8 Flows</p>

    <div id="options" class="project-item-options">

        <span class="more-btn"></span>

        <div class="project-item-option-dropdown">
            <ul class="dropdown-bg">

                <li class="dropdown-item dropdown-edit-btn">Edit</li>

                <li class="dropdown-item dropdown-delete-btn">Delete</li>

                <li class="dropdown-item dropdown-get-script-btn">Copy Script</li>

            </ul>
        </div>

    </div>

</div>