


<div class="tooltip-template">

    <div class="progress-bar"></div>

    <div class="dismiss-guide-btn"></div>

    <div class="tooltip-img-placeholder"></div>

    <div class="tooltip-content-wrapper">

        <p class="tooltip-title">Welcome to boardme!</p>

        <p class="guide-description">Customizable modal description. Change the font or color.</p>

    </div>

    <div class="button-wrapper">

        <div class="dismiss-guide-text-btn">Skip</div>

        <button class="guide-template-btn">Next</button>

    </div>

</div>