




<div class="modal-template">

    <div class="progress-bar"></div>

    <div class="dismiss-guide-btn"></div>

    <div class="modal-img-placeholder"></div>

    <div class="modal-content-wrapper">

        <p class="modal-title">Welcome to boardme!</p>

        <div class="guide-description">
            Customizable modal description. Change the font or color.
        </div>

        <button class="guide-template-btn">Next</button>

        <div class="dismiss-guide-text-btn">Skip</div>


    </div>

</div>