


<div class="flow-section-header">

    <div class="flow-section-title-wrapper">


        <div class="flow-section-title-details-wrapper">

            <p class="flow-section-title inline-block">Members</p>

            <div class="flow-section-status inline-block">

                <span class="flow-status"></span>

                <div class="status-bullet"></div>

            </div>

        </div>


        <div class="flow-section-header-line-container">

            <div class="flow-section-header-line"></div>

        </div>


    </div>


    <div class="move-btn"></div>



    <div class="flow-section-header-options">

        <div class="trigger-wrapper">

            <span class="flow-trigger">suhdksjhdeirueioreoiruoekjsdks</span>

            <div class="copy-flow-trigger quartenary-btn">Copy</div>

        </div>


        <div class="more-btn inline-block"></div>


        <ul class="flow-header-dropdown dropdown-bg">

            <li class="dropdown-item flow-header-edit-btn">Edit</li>

            <li class="dropdown-item flow-header-duplicate-btn">Duplicate</li>

            <li class="dropdown-item flow-header-delete-btn">Delete</li>

            <li class="primary-button flow-header-publish-btn">Publish</li>

        </ul>

    </div>

</div>




<div class="flow-section-content"></div>



<div class="flow-empty-state">

    <p class="s-font-size grey">Add a Guide</p>

    <div class="add-guide-btn empty"></div>

</div>
