

<div  id="reset-password">

    <div class="bg-card">

        <div class="boardme-blue-logo"></div>

        <div class="reset-password-title">Reset your password</div>

        <form method="post" class="input-group">

            <label class="input-label">New password</label>

            <input class="input" type="password" name="password" placeholder="Enter a new password">

            <label class="input-label">Confirm new password</label>
            <input class="input" type="password" name="confirm" placeholder="Confirm your new password">

            <button class="primary-button" type="submit">Reset my password</button>

        </form>

    </div>

</div>




<div id="reset-password-success">

    <div class="bg-card">

        <div class="boardme-blue-logo"></div>

        <div class="reset-password-title">Successful password reset!</div>

        <div class="m-font-size">You can now use your new password to log in to your account! 🙌</div>

        <button class="primary-button" type="submit">Login</button>

    </div>

</div>




<div id="reset-password-failed">

    <div class="bg-card">

        <div class="boardme-blue-logo"></div>

        <img class="password-reset-error-icon" src="../style/img/error-icon-password-reset.svg">

        <div class="reset-password-title">Failed password reset request!</div>

        <div class="m-font-size">An error occured while we processed your password reset request.</div>

        <button class="primary-button" type="submit">Please try again</button>

    </div>

</div>

