


<section id="subscribe-section" class="subscribe-panel">

    <div class="subscribe-panel-logo"></div>

    <img src="../style/img/boardme-white.svg">

    <div id="close-subscribe-btn" class="subscribe-section-close-btn"></div>


    <div class="subscribe-content-wrapper section">


        <div id="subscribe-content-container">

            <div class="animated fadeInDownShort go delay-250 subscribe-content">

                <h1>Get early access to our beta version!</h1>

                <p>Be the first to know when boardme launches. Early access users will receive an extended free trial and early bird pricing options.</p>

                <div class="subscribe-benefits-wrapper">

                    <div class="subscribe-benefit">Extended free trial</div>

                    <div class="subscribe-benefit">Early bird pricing options</div>

                </div>

            </div>

            <div class="animated fadeInDownShort go delay-250 subscribe-form">

                <div class="subscribe-input-group">

                    <div class="first-name-input">

                        <input id="subscribe-first-name-input" type="text" placeholder="First Name..." class="subscribe-input">

                        <p id="subscribe-first-name-input-error" class="subscribe-input-error">Please type in your first name</p>

                    </div>


                    <div class="last-name-input">

                        <input id="subscribe-last-name-input" type="text" placeholder="Last Name..." class="subscribe-input">

                        <p id="subscribe-last-name-input-error" class="subscribe-input-error">Please type in your last name</p>

                    </div>

                </div>


                <div class="subscribe-input-group email-input">

                    <input id="subscribe-email-input" type="email" placeholder="Email..." class="subscribe-input" spellcheck="false">

                    <p id="subscribe-email-input-error" class="subscribe-input-error">Please provide a valid email address</p>

                </div>

                <div class="checkbox-group">

                    <input id="send-updates" name="remember" type="checkbox" checked>

                    <label for="send-updates" class="noselect pointer">Send me updates about boardme and services.</label>

                </div>

                <div id="subscribe-btn" class="subscribe-btn">Subscribe</div>

            </div>

        </div>

        <div id="subscribe-feedback-success" class="animated fadeInDownShort go subscribe-content-feedback">

            <img class="feedback-img" alt="Subscribe success picture" src="../style/img/website-img/star-illustration.svg">

            <div id="feedback-success-signedup" class="subscribe-content-wrapper">

                <h1>Thank you for signing up!</h1>

                <p class="xl-font-size">We will send you an email to confirm your subscription.</p>

                <p class="m-font-size">Also, you’ll get notified when boardme launches so you can activate your early access user benefits. </p>

            </div>

            <div id="feedback-success-already-signedup" class="subscribe-content-wrapper">

                <h1 id="subscribe-success-title">Thank you for your interest!</h1>

                <p class="xl-font-size">The email you provided is already signed up.</p>

                <p class="m-font-size">We'll make sure to get you notified when boardme launches so you can activate your early access user benefits. </p>

            </div>

        </div>

        <div id="subscribe-feedback-error" class="animated fadeInDownShort go subscribe-content-feedback error">

            <img class="feedback-img" alt="Subscribe success picture" src="../style/img/website-img/subscribe-error-icon.svg">

            <div class="subscribe-content-wrapper">

                <h1>Oups, it seems like an error occurred.</h1>

                <p class="xl-font-size">We apologize for the inconvenience!</p>

                <p class="m-font-size">Our development team has been notified, please feel free to try again later. </p>

            </div>

        </div>

    </div>

</section>

<div id="subscribe-panel-overlay" class="subscribe-panel-overlay"></div>
