

<div id="header-container"></div>

<div id="themes-page-header" class="editor-page-header page-header">

    <h1 id="page-title" class="page-title">Themes</h1>

    <div id="header-breadcrumbs-wrapper" class="header-breadcrumbs-wrapper">

        <a class="header-breadcrumbs" href="/projects">Projects</a>

        <a class="header-breadcrumbs" href="/projects">Projects</a>

        <a class="header-breadcrumbs" href="/projects">Projects</a>

    </div>

    <div class="mini-notification">User made some changes info.</div>

    <div class="header-button-wrapper">

        <div id="themes-save-theme-change-button" class="secondary-button">Save</div>

        <div id="themes-cancel-theme-change-button" class="secondary-button">Cancel</div>

    </div>

</div>


<!--Preview section starts here-->

<div class="preview-section large">

    <div class="themes-guide-preview-wrapper">


       <div class="themes-modal-preview-wrapper">

           <p class="conf-label">Modal</p>

            <div class="themes-modal-preview"></div>

       </div>


        <div class="themes-tooltip-preview-wrapper">

            <p class="conf-label">Tooltip</p>

            <div class="themes-tooltip-preview"></div>

        </div>

        <div class="themes-hotspot-preview-wrapper">

            <p class="conf-label">Hotspot</p>

            <div class="themes-hotspot-preview"></div>

        </div>

    </div>



</div>







<!--Configuration section starts here-->

<div id="themes-configuration-section" class="configuration-section large">

    <div id="themes-configuration-header" class="themes-configuration-header">

        <p class="conf-label">Selected theme</p>

        <div class="theme-summary">

            <p class="xs-font-size grey">Used in <span class="link">2 flows</span></p>

            <div class="xs-btn">Set default</div>

        </div>

    </div>


    <div id="themes-configuration-themes-list-container">

        <div id="themes-configuration-options-dropdown-btn" class="options-dropdown-btn active">

            <p>Theme Name</p>

        </div>

        <div id="themes-configuration-options-dropdown-themes-list" class="dropdown-bg">

            <p class="dropdown-item">Item 1</p>

            <p class="dropdown-item">Item 2</p>

            <p class="dropdown-item">Item 3</p>

            <p class="dropdown-item">Item 4</p>

            <p class="dropdown-item">Item 5</p>

            <p class="dropdown-item">Item 6</p>

            <p class="dropdown-item">Item 7</p>

            <p class="dropdown-item">Item 8</p>

            <p class="dropdown-item">Item 9</p>

            <p class="dropdown-item">Item 10</p>

            <p class="dropdown-item">Item 11</p>

            <p class="dropdown-item">Item 12</p>

        </div>

        <div id="themes-configuration-delete-theme-btn" class="s-font-size link">Delete this theme</div>

    </div>

    <div id="themes-configuration-new-theme-container">

        <div id="themes-configuration-new-theme-input-group" class="input-group">

            <div class="conf-label">Create a new theme</div>

            <input id="themes-configuration-new-theme-input" class="input-border" type="text" placeholder="New theme name">

        </div>

        <div id="themes-configuration-new-theme-create-btn" class="xl-btn disabled">Create</div>

    </div>


    <!--Tab starts here-->

    <div id="themes-configuration-tab-container">

        <div id="themes-configuration-tab" class="tab-buttons-container">

            <div id="themes-configuration-tab-general-btn" class="tab-btn active">General</div>

            <div id="themes-configuration-tab-modal-btn" class="tab-btn">Modal</div>

            <div id="themes-configuration-tab-tooltip-hotspot-btn" class="tab-btn">Tooltip & Hotspot</div>

        </div>

         <div class="section-divider-line"></div>

    </div>


    <div id="themes-configuration-tab-content-container">

        <!--General tab-->

        <div id="themes-configuration-tab-content-container-general">

            <div class="tab-content-section">

                <p class="conf-label fonts-header">Fonts</p>

                <div id="themes-configuration-import-google-fonts-btn" class="xs-btn google">Import Fonts</div>

            </div>


            <div class="tab-content-section">

                <p class="input-label">Title Font</p>

                <div id="themes-configuration-title-font-options-dropdown-btn" class="bordered-options-dropdown-btn">

                    <p>Arial</p>

                </div>

            </div>

            <div id="themes-configuration-options-dropdown-title-fonts-list" class="dropdown-bg">

                <p class="dropdown-item">Item 1</p>

                <p class="dropdown-item">Item 2</p>

                <p class="dropdown-item">Item 3</p>

                <p class="dropdown-item">Item 4</p>

                <p class="dropdown-item">Item 5</p>

                <p class="dropdown-item">Item 6</p>

                <p class="dropdown-item">Item 7</p>

                <p class="dropdown-item">Item 8</p>

                <p class="dropdown-item">Item 9</p>

                <p class="dropdown-item">Item 10</p>

                <p class="dropdown-item">Item 11</p>

                <p class="dropdown-item">Item 12</p>

            </div>



            <div class="tab-content-section">

                <p class="input-label">Standard Font</p>

                <div id="themes-configuration-standard-font-options-dropdown-btn" class="bordered-options-dropdown-btn">

                    <p>Arial</p>

                </div>

            </div>

            <div id="themes-configuration-options-dropdown-standard-fonts-list" class="dropdown-bg">

                <p class="dropdown-item">Item 1</p>

                <p class="dropdown-item">Item 2</p>

                <p class="dropdown-item">Item 3</p>

                <p class="dropdown-item">Item 4</p>

                <p class="dropdown-item">Item 5</p>

                <p class="dropdown-item">Item 6</p>

                <p class="dropdown-item">Item 7</p>

                <p class="dropdown-item">Item 8</p>

                <p class="dropdown-item">Item 9</p>

                <p class="dropdown-item">Item 10</p>

                <p class="dropdown-item">Item 11</p>

                <p class="dropdown-item">Item 12</p>

            </div>


            <div>

                <p class="conf-label">Colors</p>

                <div class="multi-input-group tab-content-section">

                    <div class="multi-input-group half">

                        <p class="input-label">Button Color</p>

                        <input id="themes-configuration-button-color-input" class="input-color-picker" type="color" name="favcolor" value="#FF9AA2">

                        <input class="input-border" type="text" value="#D4C2E1">

                    </div>

                    <div class="multi-input-group half float-r">

                        <p class="input-label">Button Hover Color</p>

                        <input id="themes-configuration-button-hover-color-picker" class="input-color-picker" type="color" name="favcolor" value="#FFB7B2">

                        <input id="themes-configuration-button-hover-color" class="input-border" type="text" value="#F0C9D6">

                    </div>

                </div>

                <div class="multi-input-group tab-content-section">

                    <div class="multi-input-group half">

                        <p class="input-label">Button Text Color</p>

                        <input id="themes-configuration-button-text-color-picker" class="input-color-picker" type="color" name="favcolor" value="#FFDAC1">

                        <input id="themes-configuration-button-text-color" class="input-border" type="text" value="#D4C2E1">

                    </div>

                    <div class="multi-input-group half float-r">

                        <p class="input-label">Dismiss Link Color</p>

                        <input id="themes-configuration-dismiss-link-color-picker" class="input-color-picker" type="color" name="favcolor" value="#B5EAD7">

                        <input id="themes-configuration-dismiss-link-color" class="input-border" type="text" value="#F0C9D6">

                    </div>

                </div>

            </div>

            <div class="tab-content-section">

                <p class="conf-label">Progress bar</p>

                <div class="multi-input-group tab-content-section">

                    <div class="radio-btn-group">

                        <input type="radio" id="general-radio-btn-progress-visible" name="general-progress-radio-group" checked>

                        <label for="general-radio-btn-progress-visible">Visible</label>

                    </div>

                    <div class="radio-btn-group">

                        <input type="radio" id="general-radio-btn-progress-not-visible" name="general-progress-radio-group">

                        <label for="general-radio-btn-progress-not-visible">Hidden</label>

                    </div>

                </div>

            </div>


            <div class="tab-content-section slider-value-wrapper">

                <p class="conf-label">Advanced styles</p>

                <div class="multi-input-group tab-content-section">

                    <div class="multi-input-group third slider-value">

                        <p class="input-label">Button radius</p>

                        <div class="slider-container">

                            <input id="themes-configuration-button-radius" type="range" class="slider" min="1" max="100" value="50">

                        </div>

                    </div>

                    <div class="multi-input-group extra-small">

                        <p class="input-label transparent">Value</p>

                        <input id="themes-configuration-button-radius-value" class="input-border" type="text" value="50">

                    </div>

                </div>

            </div>

            <div class="tab-content-section slider-value-wrapper">

                <div class="multi-input-group tab-content-section">

                    <div class="multi-input-group third slider-value">

                        <p class="input-label">Background shape radius</p>

                        <div class="slider-container">

                            <input id="themes-configuration-bg-shape-radius" type="range" class="slider" min="1" max="100" value="50">

                        </div>

                    </div>

                    <div class="multi-input-group extra-small">

                        <p class="input-label transparent">Value</p>

                        <input id="themes-configuration-bg-shape-radius-value" class="input-border" type="text" value="50">

                    </div>

                </div>

            </div>

        </div>



        <!--Modal tab-->
        <div id="themes-configuration-tab-content-container-modal">

            <!--STYLE-->
            <div id="themes-configuration-modal-tab-content" class="tab-content-section">

                <p class="conf-label">Style</p>

                <div class="tab-content-section">

                    <div class="multi-input-group half">

                        <p class="input-label">Text Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#D4C2E1">

                        <input class="input-border" type="text" value="#D4C2E1">

                    </div>

                    <div class="multi-input-group half float-r">

                        <p class="input-label">Background Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#F0C9D6">

                        <input class="input-border" type="text" value="#F0C9D6">

                    </div>

                </div>

            </div>


            <div id="themes-configuration-modal-tab-background">

                <p class="conf-label">Background</p>

                <div id="themes-configuration-modal-tab-background-conf" class="tab-content-section">

                    <div class="multi-input-group third custom-color-input">

                        <p class="input-label">Overlay Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#FFDDD1">

                        <input class="input-border" type="text" value="#FFDDD1">

                    </div>

                    <div class="multi-input-group third custom-slider-input">

                        <p class="input-label">Overlay Opacity</p>

                        <div class="slider-container">

                            <input type="range" class="slider" min="1" max="100" value="50">

                        </div>

                    </div>

                    <div class="multi-input-group extra-small custom-value-input">

                        <p class="input-label transparent">Value</p>

                        <input class="input-border" type="text" value="50%">

                    </div>

                </div>

            </div>


            <div id="themes-configuration-modal-tab-shadow">

                <p class="conf-label">Shadow</p>

                <div id="themes-configuration-modal-tab-shadow-conf" class="tab-content-section">

                    <div class="multi-input-group third custom-color-input">

                        <p class="input-label">Shadow Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#FFDDD1">

                        <input class="input-border" type="text" value="#FFDDD1">

                    </div>

                    <div class="multi-input-group third custom-slider-input">

                        <p class="input-label">Shadow Opacity</p>

                        <div class="slider-container">

                            <input type="range" class="slider" min="1" max="100" value="50">

                        </div>

                    </div>

                    <div class="multi-input-group extra-small custom-value-input">

                        <p class="input-label transparent">Value</p>

                        <input class="input-border" type="text" value="50%">

                    </div>

                </div>

            </div>

            <div class="tab-content-section">

                <div class="multi-input-group quarter">

                    <p class="input-label">X</p>

                    <div class="incremental-input-wrapper">

                        <input class="input-border" type="text" placeholder="0">

                        <div class="input-arrow up"></div>

                        <div class="input-arrow down"></div>

                    </div>


                </div>

                <div class="multi-input-group quarter">

                    <p class="input-label">Y</p>

                    <div class="incremental-input-wrapper">

                        <input class="input-border" type="text" placeholder="0">

                        <div class="input-arrow up"></div>

                        <div class="input-arrow down"></div>

                    </div>

                </div>

                <div class="multi-input-group quarter">

                    <p class="input-label">Blur</p>

                    <div class="incremental-input-wrapper">

                        <input class="input-border" type="text" placeholder="0">

                        <div class="input-arrow up"></div>

                        <div class="input-arrow down"></div>

                    </div>

                </div>

                <div class="multi-input-group quarter">

                    <p class="input-label">Spread</p>

                    <div class="incremental-input-wrapper">

                        <input class="input-border" type="text" placeholder="0">

                        <div class="input-arrow up"></div>

                        <div class="input-arrow down"></div>

                    </div>

                </div>

            </div>


        </div>



        <!--Tooltip & hotspot tab-->
        <div id="themes-configuration-tab-content-container-tooltip-hotspot">

            <!--STYLE-->
            <div id="themes-configuration-tab-content-style" class="tab-content-section">

                <p class="conf-label">Style</p>

                <div class="tab-content-section">

                    <div class="multi-input-group half">

                        <p class="input-label">Text Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#D4C2E1">

                        <input class="input-border" type="text" value="#D4C2E1">

                    </div>

                    <div class="multi-input-group half float-r">

                        <p class="input-label">Background Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#F0C9D6">

                        <input class="input-border" type="text" value="#F0C9D6">

                    </div>

                </div>

            </div>


            <!--SHADOW-->
            <div id="themes-configuration-tab-content-shadow" class="tab-content-section">

                <p class="conf-label">Shadow</p>

                <div class="tab-content-section">

                    <div class="multi-input-group third custom-color-input">

                        <p class="input-label">Shadow Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#FFDDD1">

                        <input class="input-border" type="text" value="#FFDDD1">

                    </div>

                    <div class="multi-input-group third custom-slider-input">

                        <p class="input-label">Shadow Opacity</p>

                        <div class="slider-container">

                            <input type="range" class="slider" min="1" max="100" value="50">

                        </div>

                    </div>

                    <div class="multi-input-group extra-small custom-value-input">

                        <p class="input-label transparent">Value</p>

                        <input class="input-border" type="text" value="50%">

                    </div>

                </div>


                <div class="tab-content-section">

                    <div class="multi-input-group quarter">

                        <p class="input-label">X</p>

                        <div class="incremental-input-wrapper">

                            <input class="input-border" type="text" placeholder="0">

                            <div class="input-arrow up"></div>

                            <div class="input-arrow down"></div>

                        </div>

                    </div>

                    <div class="multi-input-group quarter">

                        <p class="input-label">Y</p>

                        <div class="incremental-input-wrapper">

                            <input class="input-border" type="text" placeholder="0">

                            <div class="input-arrow up"></div>

                            <div class="input-arrow down"></div>

                        </div>

                    </div>

                    <div class="multi-input-group quarter">

                        <p class="input-label">Blur</p>

                        <div class="incremental-input-wrapper">

                            <input class="input-border" type="text" placeholder="0">

                            <div class="input-arrow up"></div>

                            <div class="input-arrow down"></div>

                        </div>

                    </div>

                    <div class="multi-input-group quarter">

                        <p class="input-label">Spread</p>

                        <div class="incremental-input-wrapper">

                            <input class="input-border" type="text" placeholder="0">

                            <div class="input-arrow up"></div>

                            <div class="input-arrow down"></div>

                        </div>

                    </div>

                </div>

            </div>


            <div id="themes-configuration-tab-content-hotspot" class="tab-content-section">

                <p class="conf-label">hotspot</p>

                <div class="tab-content-section">

                    <div class="object-wrapper hotspot-icon-wrapper">

                        <p class="input-label">Icon</p>

                        <div id="hotspot-icon-thumbnail-question" class="hotspot-icon-thumbnail question active"></div>

                        <div id="hotspot-icon-thumbnail-pulse" class="hotspot-icon-thumbnail pulse"></div>

                    </div>


                    <div class="multi-input-group half float-r">

                        <p class="input-label">Icon Color</p>

                        <input class="input-color-picker" type="color" name="favcolor" value="#BED6EA">

                        <input class="input-border" type="text" placeholder="#BED6EA">

                    </div>

                </div>

                <div class="tab-content-section animation">

                    <div class="multi-input-group">

                        <p class="input-label">Animation</p>

                            <div class="radio-btn-group">

                                <input type="radio" id="radio-btn-animate" name="radio-group" checked>

                                <label for="radio-btn-animate">Animate</label>

                            </div>

                            <div class="radio-btn-group">

                                <input type="radio" id="radio-btn-no-animate" name="radio-group">

                                <label for="radio-btn-no-animate">None</label>

                            </div>

                    </div>

                </div>

            </div>

            <div id="themes-configuration-tab-content-progress-bar" class="tab-content-section">

                <p class="conf-label">Progress bar</p>

                <div class="multi-input-group tab-content-section">

                    <div class="radio-btn-group">

                        <input type="radio" id="radio-btn-progress-visible" name="progress-radio-group" checked>

                        <label for="radio-btn-progress-visible">Visible</label>

                    </div>

                    <div class="radio-btn-group">

                        <input type="radio" id="radio-btn-progress-not-visible" name="progress-radio-group">

                        <label for="radio-btn-progress-not-visible">Hidden</label>

                    </div>

                </div>


            </div>



        </div>

    </div>

</div>


