


<div class="boardme-tooltip boardme-guide">

    <div class="boardme-guide-wrapper">

        <div class="boardme-progress-bar-container">
            <div class="boardme-progress-bar"></div>
        </div>

        <div class="boardme-dismiss-guide-btn"></div>

        <div class="boardme-tooltip-img-placeholder boardme-guide-image"></div>

        <div class="boardme-content-wrapper">

            <p class="boardme-guide-title">The title of your guide!!!</p>

            <p class="boardme-guide-description">This is the description of your guide</p>

        </div>

        <div class="boardme-htmlcontent"></div>

        <div class="boardme-button-wrapper">

            <div class="boardme-dismiss-guide-text-btn">Skip</div>

            <button class="boardme-guide-action-btn">Next</button>
            <button class="boardme-guide-previous-btn">Previous</button>

        </div>

    </div>

    <div class="boardme-guide-arrow" x-arrow>

        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="40px" height="15px" viewBox="0 0 162 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
            <title>Rectangle</title>
            <desc>Created with Sketch.</desc>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path class="boardme-arrow-image" d="M34,-57 L138,-57 L24,57 L24,-47 C24,-52.5228475 28.4771525,-57 34,-57 Z" id="Rectangle" fill="#242E4C" fill-rule="nonzero" transform="translate(81.000000, 0.000000) rotate(-135.000000) translate(-81.000000, -0.000000) "></path>
            </g>
        </svg>

    </div>

</div>


