
//------------------ Font Colors //

$dark-color: #202842;

$blue-color: #3457DC;

$dark-blue-color: #2D4DC8;

$grey-color: #5D698D;

$light-purple-color: #DCDFF1;    // used for border in special //

$extra-light-purple-color: #F7F9FD;

$purple-color: #687DCF;

$red-color: #EA4D67;

$orange-color: #F4A10D;

$green-color: #90CF02;

//------------------ Shape | UI Elements Colors //

$blue-color: #3457DC;



$purple-color: #869FFD;

$light-purple-color: #DCDFF1;




