@import "color-variables.scss";

html, body {
  height: initial;
  overflow: visible;
}

.forgot-password-confirmation-wrapper {

  padding: 0 20px 40px;
  //height: 100vh;

  .forgot-password-confirmation-container {

    max-width: 700px;
    height: auto;
    padding: 100px 100px 80px;
    margin: 20vh auto 0;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 15px 28px -25px $purple-color;
    -moz-box-shadow: 0 15px 28px -25px $purple-color;
    box-shadow: 0 15px 28px -25px $purple-color;
    text-align: center;

    .logo-placeholder {
      color: $blue-color;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 60px;
    }

    .xl-font-size {
      margin: 0 auto 20px;
      max-width: 365px;
    }

    .s-font-size {
      line-height: 21px;
      margin: 0 auto 30px;
      max-width: 365px;
    }

    .primary-button {
      max-width: 375px;
      margin: auto;
    }

  }

}