

/** =============================== Application Header =============================== */

#header {
  height: 75px;
  background-color: #3457DC;
  padding: 20px;
  position: relative;
  z-index: 10;
}


#header .logo {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  background: url("../style/img/boardme-white.svg") no-repeat center left;
  background-size: 140px;
  width: 140px;
  height: 50px;
}


.header-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
}


.header-menu-item { display: inline-block; }


.header-menu-item:not( :last-child ) { margin-right: 40px; }


.header-menu-item a {
  font-weight: 600;
  color: #A6B3E5;
}


.header-menu-item.active a {
  color: #FFF;
  cursor: default;
  pointer-events: none;
}


.header-user-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY( -50% );
  line-height: 22px;
}


.header-user-item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 0.2s linear, color 0.2s linear;
}


.header-user-item:not( :last-child ) {
  margin-right: 25px;
  opacity: 0.5;
}


.header-user-item:not( :last-child ):hover { opacity: 1; }


.user-notification {
  width: 12px;
  height: 15px;
  background: url( "img/notification-icon.svg" ) no-repeat center;
}


.feature-notification {
  width: 15px;
  height: 15px;
  background: url( "img/feature-icon.svg" ) no-repeat center;
}

.user-menu {
  color: rgba( 255, 255, 255, 0.5 );
  position: relative;
  line-height: normal;
}


.user-menu:hover { color: #FFF; }
.user-menu.active { color: #FFF; }


.user-menu > span {
  position: relative;
  padding-right: 18px;
}


.user-menu > span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 6px;
  top: 8px;
  right: 0;
  background: url( "img/arrow-down-white-icon.svg" ) no-repeat center/contain;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}


.user-menu:hover > span::after { opacity: 1; }
.user-menu.active > span::after {
  transform: rotate( 180deg );
  opacity: 1;
}


.user-menu.active .user-menu-dropdown {
  cursor: default;
}


.user-menu-dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  width: 300px;
  padding: 20px 20px 10px;
  background: #FFF;
  color: #202842;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(52,87,220,0.15);
  display: none;
  opacity: 0;
}


.user-account-info-container { padding-bottom: 10px; }


.user-account-acronym {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #F7F9FD;
  border: 1px solid #DCDFF1;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  color: #A2A7C5;
  text-align: center;
}


.user-account-info-container *:not( .user-account-acronym ) {
  margin-left: 65px;

}


.user-account-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
}


.user-account-email {
  color: #7681A4;
  margin-bottom: 14px;
  line-height: 21px;
}


#user-account-settings {
  width: 155px;
}


.user-submenu-item {
  padding-left: 65px;
  line-height: 50px;
}


.user-submenu-item a {
  display: block;
  height: 100%;
}



/** =============================== End of Application Header =============================== */

















