
@import "color-variables.scss";

html, body {
  height: initial;
  overflow: visible;
}


#main-container {
  overflow: visible;

  padding-bottom: 100px;
}


.reset-password-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}


#reset-password {

  display: block;

  .bg-card {
    max-width: 800px;
    text-align: center;
    padding: 0 20px 190px;
  }


  .boardme-blue-logo {
    display: inline-block;
    margin: 100px auto 60px auto;
  }


  .reset-password-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }


  .reset-password-form-wrapper {
    max-width: 390px;
    margin: auto;
  }


  .input-group {

    max-width: 400px;
    margin: auto;
    text-align: left;


    .input {
      border: 1px solid $light-purple-color;
      height: 44px;
      margin-bottom: 15px;
    }


    .primary-button {
      margin-top: 10px;
      display: inline-block;
    }

  }

}



#reset-password-success {

  display: block;


  .bg-card {
    max-width: 800px;
    text-align: center;
    position: relative;
    padding: 0 20px 160px;
  }


  .boardme-blue-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    display: inline-block;
  }


  .reset-password-title {
    margin-top: 160px;
    display: inline-block;
  }


  .m-font-size {
    line-height: 28px;
    max-width: 350px;
    margin: 0 auto 50px;
  }


  .primary-button {
    max-width: 400px;
  }

}


#reset-password-failed {
  display: block;

  .bg-card {
    max-width: 800px;
    text-align: center;
    position: relative;
    padding: 0 20px 100px;
  }


  .boardme-blue-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    display: inline-block;
  }


  .password-reset-error-icon {
    display: inline-block;
    margin: 100px auto 30px auto;

  }


  .reset-password-title {
    display: block;
  }


  .m-font-size {
    line-height: 28px;
    max-width: 350px;
    margin: 0 auto 50px;
  }

  .primary-button {
    max-width: 400px;
  }

}