@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/opensans-semibold-webfont.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/opensans-bold-webfont.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/opensans-regular-webfont.woff");
}

